<!DOCTYPE html>
<html ng-app="mara-app">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel='stylesheet' href='/stylesheets/angular.cropper.min.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta name="google-signin-client_id" content="286208149051-71lk7sdm5plc2oih79p7mq8g80kla8te.apps.googleusercontent.com">



	</head>

	<body ng-controller="bodyController">
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
		<div disabled>

		<div id="dropzone" ng-class="divClass" ng-show="dropzoneVisible" drag-and-drop>
		
			<div class="message" ng-show="messageVisible"><span> Drop your target image here </span></div>
		
			<img id="image-cropper" ng-src="{{ targetURL }}" croppable crop-name="croppedImage" />

		</div>
		
		<div id="augmenter" ng-show="augmenterVisible" drag-and-drop>
		</div>
		
		<input id="descriptionInput"></input> <br>
		
		<!-- <img id="cropped-image" data-ng-src="{{ $croppable.croppedImage.$data.base64 }}" /> -->
	
		<button id="postButton" class="btn btn-default" ng-click="uploadTarget()"><span> Upload cropped area </span></button>
		<button id="augButton" class="btn btn-default" ng-show="zipButtonVisible"><span> Upload Augmentation Data </span></button>
	
		</div>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="js/konva.js"></script>
		<script src="js/angular.cropper.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>

		<!-- <script src="js/FileSaver.js"></script> -->
        <!-- <script src="js/jszip.min.js"></script> -->
		<script src="js/devices.js"></script>
		<script src="js/index.js"></script>

	</body>
</html>