
<div id="dropzone" drag-and-drop>
	<div class="message" ng-show="dragMessageOn"><span> Drop your target image here </span></div>
	<img id="cropped-image" ng-src="{{ $ctrl.imgUrl }}" croppable crop-name="croppedImage"></img>
</div>

<md-input-container>
	<input ng-model="$ctrl.targetName" required="" placeholder="Target Name"></input> 
</md-input-container>

<br>

<md-input-container>
	<md-select ng-model="$ctrl.targetCollection">
		<md-option ng-repeat="collection in $ctrl.targetCollections" value="{{collection.name}}">
			{{ collection.name }}
		</md-option>
	</md-select>
</md-input-container>

<br>

<button id="uploadTarget" class="btn btn-default" ng-click="$ctrl.uploadTarget()"><span> Upload cropped area as Target Image </span></button>