<div id="augment-upload">

<div class="heading"><h2>Augmentation Upload</h2></div>

<div id="augmentation-upload-area" class="row">

  <div id="dropzone" class="col-md-7" drag-and-drop></div>

  <div ng-show="$ctrl.showSubmitButton" id="submit-augmentations-button" class="col-md-5"><button ng-click="$ctrl.submitAugmentations()" class="btn btn-primary" type="submit">{{ $ctrl.buttonMessage }}</button></div>
  <div id="augment-input-group" ng-repeat="augmentation in $ctrl.augmentations">
    <div id="augment-name-input" class="input-group input-group-sm col-md-5">
      <input type="text" placeholder="{{ augmentation.id }}: Augmentation Name" ng-model="augmentation.name" class="form-control input-sm" aria-label="...">
    </div>
    <div id="augment-name-input" class="input-group input-group-sm col-md-5">
      <input type="text" placeholder="{{ augmentation.id }}: Augmentation Description" ng-model="augmentation.description" class="form-control input-sm" aria-label="...">
    </div>
  </div>

</div>

</div>