#dropzone {
	min-height: 200px;
	max-width: 60%;
}

#dropzone .message {
	height: 100%;
	font-size: 25px;
	opacity: 0.5;
	text-align: center;
	margin: 2em 0; 
}

#postButton {
	margin: 0px 4%;
}

.g-signin2 {
	min-height: 200px;
	min-width: 300px;
}