#dropzone {
	min-height: 200px;
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;
	padding: 1%; 
	margin: 3% 4%;
}

#dropzone .message {
	
	height: 100%;
	font-size: 25px;
	opacity: 0.7;
	text-align: center;
	margin: 2em 0; 
}

#dropzone.drag-hover {
	border-style: solid; 
}

#dropzone.drag-hover .message {
	opacity: 1; 
}

#augmenter {
	min-height: 200px;
	border: 2px dashed #00ff00;
	border-radius: 5px;
	background: white;
	padding: 1%; 
	margin: 3% 4%;
}

#postButton {
	margin: 0px 4%;
}