#dropzone {
	min-height: 200px;
	max-width: 60%;
}

#dropzone .message {
	height: 100%;
	font-size: 25px;
	opacity: 0.5;
	text-align: center;
	margin: 2em 0; 
}


#augmenter {
	min-height: 200px;
	width: 60%;
	border: 2px dashed #00ff00;
	border-radius: 5px;
	background: white;
	padding: 1%; 
	margin: 3% 4% 1%;
}

#postButton {
	margin: 0px 4%;
}