<div id="collection">

<div class="heading"><h2>Collection: {{ $ctrl.targetCollection.name }}</h2></div>


<div id="targets">
<div class="row">
  <div ng-click="$ctrl.addNewTarget()" class="col-xs-12 col-md-3">
    <a class="thumbnail">
      <img src="/assets/add-new.png" alt="...">
    </a>
  </div>
  <div ng-click="$ctrl.addAugmentations(target._id)" ng-repeat="target in $ctrl.targetCollection.targets" class="col-xs-12 col-md-3">
    <a class="thumbnail">
      <img ng-src="{{target.imgUrl}}" alt="...">
    </a>
  </div>
</div>
<div>
</div>