
<div id="target-upload">

	<div class="heading"><h2>Target Upload</h2></div>
	<div id="dropzone" drag-and-drop>
		<div class="message" ng-show="dragMessageOn"><span> Drop your target image here </span></div>
		<img id="cropped-image" ng-src="{{ $ctrl.imgUrl }}" croppable crop-name="croppedImage"></img>
	</div>

	<div id="target-name-input" class="input-group input-group-lg">
	  <input type="text" placeholder="Target Name" ng-model="$ctrl.newTargetName" class="form-control" aria-label="...">
	  <div class="input-group-btn">
	    <button class="btn btn-primary" type="button" ng-click="$ctrl.uploadTarget()"> Add New Target</button>
	  </div>
	</div>

</div>